# https://stackoverflow.com/questions/5711120/gitignore-without-binary-files

# Ignore all
*

# Unignore all with extensions
!*.cpp
!*.txt

# Unignore all dirs
!*/
!README.md


### Above combination will ignore all files without extension ###

# Unignore all in /data
!data/*
!.gitignore
# Ignore files with extension `.class` & `.sm`
# *.class
# *.sm

# Ignore `bin` dir
# bin/
# or
# */bin/*

# Unignore all `.jar` in `bin` dir
# !*/bin/*.jar

# Ignore all `library.jar` in `bin` dir
# */bin/library.jar

# Ignore a file with extension
# relative/path/to/dir/filename.extension

# Ignore a file without extension
# relative/path/to/dir/anotherfile
